

body {
  background-image: url("../img/bg.png");
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container {
  max-width: 800px;
}

@media only screen and (min-width: 600px) {
  .card-cap {
    background: url('../img/cap.png') -50px 0 no-repeat;
    background-size: 480px !important;
  }
}

.card-cap {
  background-color: #f9b10b !important;
  padding-bottom: 50px;
  font-size: 1.2em;
}

.bg-black {
  background: url('../img/bg-black.png') center;
}

.bg-black div {
  padding: 5px 59px;
  display: inline-block;
  background: white;
}

.bg-phone {
  height: 400px;
  background: url('../img/phone.png') center 100% no-repeat;
  background-color: #f9b10b !important;
  background-size: 100%;
}

.border-dark {
  border-width: 2px !important;
}
