

body {
  background-image: url("../img/bg.png");
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container {
  max-width: 800px;
}

.card-cap {
  background: url('../img/cap.png') -50px 0 no-repeat #f9b10b !important;
  background-size: 480px !important;
  padding-left: 400px;
  padding-bottom: 50px;
  font-size: 1.2em;
}

.bg-black {
  background: url('../img/bg-black.png') center;
}

.bg-black div {
  padding: 5px 59px;
  display: inline-block;
  background: white;
}

.bg-phone {
  height: 500px;
  background: url('../img/phone.png') center;
  background-size: cover;
}

.border-dark {
  border-width: 2px !important;
}
